.manu-left-toggle-link{
  text-decoration: none;
  color: gray;
}
.manue-iteam{
  margin-left: 1.5rem;
}
.manu-middle-toggle-link{
  text-decoration: none;
  color: aliceblue;
  padding: 0 10px ;
}

.userImageLogo{
     width: 30px;
    height: 30px;
    border-radius: 50%;

}
.userDisplayNameHeader{
  font-size: 1rem;
}
/* Header responsive Media quariy  */

@media (max-width:1000px){

.manue-iteam{
  margin-left: 0px;
   padding: 0 5px ;
}
}


@media (max-width:850px){

.manue-iteam{
  display: none;
}

}

